$background-header-category-color-top: #fff;
$site-main-font-color-black : #231815;
$site-main-hover-color-green : #2ecc7d;
$site-main-font-hover-color-white : #fff;

.menu {
  border-bottom: 2px solid #000;
}

.menu-item-wrapper {
  a {
    color: $site-main-font-color-black;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.menu-item {
  padding: 0 40px;
  margin: 10px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  text-align: center;
  color: $site-main-font-color-black;
  text-decoration: none;
  text-transform: uppercase;
  &.active { // sibling
    border: 1px green solid;
  }
}

.menu-item-wrapper.active {
  border: 1px blue solid;
}
  
.scroll-menu-arrow {
  padding: 5px;
  cursor: pointer;
}