$site-main-font-color-lightgray : #b5b5b5;
$site-main-font-color-gray : #5f5f5f;
.cquestion {
    margin: 5vh 5vw 0 5vw;
    .cquestion-title {
        font-size: 30px;
        letter-spacing: -1px;
        color: $site-main-font-color-gray;
    }
    .cquestion-content-thumbnail {
        margin-top: 3vh;
    }
    .cquestion-comments {
        margin-top: 3vh;
        .cquestion-comments-title {
            padding-bottom: 1vh;
            border-bottom: 2px solid $site-main-font-color-lightgray;
            .cquestion-comments-title-txt {
                font-size: 25px;
                font-weight: 400;
                // color: $site-main-font-color-gray;
            }
        }
        .cquestion-comments-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            .cquestion-comment-info {
                display: flex;
                color: $site-main-font-color-gray;
                font-weight: 500;
                padding: 5px;
                border-bottom: 2px solid $site-main-font-color-lightgray;
                .cquestion-comment-info-profile {
                    flex: 0 0 20%;
                    .cquestion-comment-info-icon {
                        margin-right: 10px;
                    }
                }
                .cquestion-comment-info-content {
                    flex: 0 0 80%;
                    .cquestion-comment-info-content-txt {
    
                    }
                }
            }
        }
    }
    .cquestion-preview {
        margin-top: 3vh;
        .cquestion-preview-title {
            padding-bottom: 1vh;
            .cquestion-preview-title-txt {
                font-size: 25px;
                font-weight: 400;
                // color: $site-main-font-color-gray;
            }
        }
        .cquestion-previews-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
            .cquestion-preview-info {
                margin: 1vh 0;
                background: $site-main-font-color-lightgray;
                color: white;
            }
        }
    }
}